.overlay {
  position: fixed;
  inset: 0;
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  animation: fadeIn ease forwards;
}

.toBlack {
  background: #000;
}

.toWhite {
  background: #fff;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
